Frontend/node_modules
Backend/node_modules
Backend/.env
Backend/temp/
DASTBackend/myenv
DASTBackend/dastenv
Frontend/.env
Backend-Full/.env
Backend-Full/Gemini.txt
Backend-Full/.venv
Backend-Full/__pycache__
DASTBackend/.venv
DASTBackend/__pycache__
